@import '../mixins';

.placeholderNav{
    width: 8.5%;
    height: 100vh;
    margin-right: 5%;
    padding: 1.5%;

    @include mobile() {
        width: 25%;
    }
}

.nav{
    width: 8.5%;
    height: 100vh;
    background-color: #1E1E20;
    border-radius: 0px 12px 12px 0px;
    padding: 1.5%;
    position: fixed;

    img{
        margin-bottom: 35%;
    }

    a{
        display: block;
        color: #9ABD76;
        font-family: 'Inter';
        margin-top: 10%;
        margin-bottom: 10%;
    }

    @include mobile() {
        width: 20%;

        img{
            width: 40%;
            margin-top: 20%;
            margin-left: 20%;
        }

        a{
            font-size: 1em;
            margin-left: 15%;
        }

        p{
            font-size: 1em;
            margin-left: 15%;
        }
    }
}