.nav{
    width: 8.5%;
    height: 100vh;
    background-color: #1E1E20;
    margin-right: 2.5%;
    border-radius: 0px 12px 12px 0px;
    padding: 1.5%;

    img{
        margin-bottom: 35%;
    }

    a{
        display: block;
        color: #9ABD76;
        font-family: 'Inter';
        margin-top: 10%;
        margin-bottom: 10%;
    }

}